@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-gray-900 text-gray-100;
  }

  :focus {
    @apply outline-none;
  }
}
